/* cuprum-regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
   font-family: "Cuprum";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
   src: local(""),
     url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix")
       format("embedded-opentype"),
     /* IE6-IE8 */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2")
       format("woff2"),
     /* Super Modern Browsers */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff")
       format("woff"),
     /* Modern Browsers */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf")
       format("truetype"),
     /* Safari, Android, iOS */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Cuprum")
       format("svg"); /* Legacy iOS */
 }
 
 /* cuprum-500 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
 @font-face {
   font-family: "Cuprum";
   font-style: normal;
   font-weight: 500;
   src: url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
   src: local(""),
     url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix")
       format("embedded-opentype"),
     /* IE6-IE8 */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.woff2")
       format("woff2"),
     /* Super Modern Browsers */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.woff")
       format("woff"),
     /* Modern Browsers */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.ttf")
       format("truetype"),
     /* Safari, Android, iOS */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Cuprum")
       format("svg"); /* Legacy iOS */
 }
 
 /* cuprum-700 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
 @font-face {
   font-family: "Cuprum";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
   src: local(""),
     url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix")
       format("embedded-opentype"),
     /* IE6-IE8 */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff2")
       format("woff2"),
     /* Super Modern Browsers */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff")
       format("woff"),
     /* Modern Browsers */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.ttf")
       format("truetype"),
     /* Safari, Android, iOS */
       url("../fonts/cuprum/cuprum-v13-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Cuprum")
       format("svg"); /* Legacy iOS */
 }
 