/* fira-code-300 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
   font-family: 'Fira Code';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.svg#FiraCode') format('svg'); /* Legacy iOS */
 }
 
 /* fira-code-regular - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
 @font-face {
   font-family: 'Fira Code';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
 }
 
 /* fira-code-500 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
 @font-face {
   font-family: 'Fira Code';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.svg#FiraCode') format('svg'); /* Legacy iOS */
 }
 
 /* fira-code-600 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
 @font-face {
   font-family: 'Fira Code';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.svg#FiraCode') format('svg'); /* Legacy iOS */
 }
 
 /* fira-code-700 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
 @font-face {
   font-family: 'Fira Code';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/fira-code/fira-code-v21-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#FiraCode') format('svg'); /* Legacy iOS */
 }
 