@media only screen and (min-width: 1200px){
  .header{
    margin-top: 10%;
  } 
}
 

/* start of large tablet styles */
@media only screen and (max-width: 991px){

}

/* start of medium tablet styles */  
@media only screen and (max-width: 767px){

}
  
  /* start of phone styles */
@media only screen and (max-width: 479px){
  .header{
    margin-top: 25%;
  } 
  .my_name{
    font-size: 15vw;
  }
}

/* start of phone styles */
@media only screen and (max-width: 163px){
  .header {
    display: block;
  }
}