@media only screen and (min-width: 1200px){
  .header{
    margin-top: 10%;
  }
  .header_below{   
    margin-top: 5%;
  }
}
 

/* start of large tablet styles */
@media only screen and (max-width: 991px){

}

/* start of medium tablet styles */  
@media only screen and (max-width: 767px){
 .more_about{
  display: block;
 }
 .more_about_profile{
  max-width: 300px;
  margin: auto;
 }
}
  
  /* start of phone styles */
@media only screen and (max-width: 479px){
  .header{
    margin-top: 25%;
  } 
  .my_name{
    font-size: 15vw;
  }
  .catchup, .tech-stack{
    margin: auto;
  }
  .tech-stack{
    margin-top: 30px;
  }
}

/* start of phone styles */
@media only screen and (max-width: 164px){
  .header {
    display: block;
  }
}